[submodule "GLEW"]
	path = GLEW
	url = https://github.com/Perlmint/glew-cmake.git
[submodule "GLFW"]
	path = GLFW
	url = https://github.com/glfw/glfw.git
[submodule "GLM"]
	path = GLM
	url = https://github.com/g-truc/glm.git
[submodule "spdlog"]
	path = spdlog
	url = https://github.com/gabime/spdlog.git
